sudo: false
language: ruby
cache: bundler
rvm:
  - 2.4.1
  - 2.3.4
  - 2.2.7
gemfile:
  - test/gemfiles/Gemfile.chef-12
  - test/gemfiles/Gemfile.chef-13
  - test/gemfiles/Gemfile.chef-master
matrix:
  allow_failures:
    - gemfile: test/gemfiles/Gemfile.chef-master
  exclude:
    # Chef ~> 13 requires Ruby version >= 2.3.0
    - rvm: 2.2.2
      gemfile: test/gemfiles/Gemfile.chef-13
    - rvm: 2.2.2
      gemfile: test/gemfiles/Gemfile.chef-master
